@charset "UTF-8";
@font-face {
    font-family: "figtree";
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format(truetype);
}
*{
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --titulo: black;
    --titulo_ativo: hsl(47, 88%, 63%);
    --paragrafo: hsl(0, 0%, 42%);
    --texto_aside: hsl(0, 0%, 7%);
    --texto_autor: hsl(0, 0%, 7%);
    --texto_status: hsl(0, 0%, 7%);

    --cor_cartao: white;
    --cor_status: hsl(47, 88%, 63%);
}
div{
    width: 21em;
    height: 30em;
    background-color: var(--cor_cartao);

    margin: auto;
    transform: translateY(20%);
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 6px 6px 1px black;
    font-family: "figtree";
}
aside{
    height: 10%;
    padding-top: 5px;
}
span{
    background-color: var(--cor_status);
    color: var(--texto_status);
    padding: 5px;
}
main{
    height: 35%;
}
footer{
    height: 15%;
}
footer > img{
    height: 40px;
}
footer > p{
    display: inline-block;
    color: var(--texto_autor);
}