@charset "UTF-8";

:root{
    --cor_texto: hsl(215, 51%, 70%);
    --cor_destaque: hsl(0, 0%, 100%);
    --cor_destaque_2: hsl(178, 100%, 50%);
    --fundo_body: hsl(217, 54%, 11%);
    --fundo_card: hsl(216, 50%, 16%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo_body);
}
.card{
    width: 21em;
    height: 35em;
    padding: 1.5em;
    border-radius: 1em;
    background-color: var(--fundo_card);
    color: var(--cor_texto);
    display: grid;
    grid-template-rows: 60% 30% 10%;
}
header img#cubo{
    width: 100%;
    border-radius: 1em;
}
#view{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.imagem{
    height: 288px;
    border-radius: 1em;
    position: relative;
}
main{
    border-bottom: 0.1em solid hsl(215, 32%, 27%);
}
main > h1{
    font-size: 1.5em;
    color: var(--cor_destaque);
}
main p{
    padding: 1em 0;
    line-height: 1.5em;
}
main > section{
    display: flex;
    justify-content: space-between;
}
main > section > div > strong{
    color: var(--cor_destaque_2);
}
footer{
    padding: 0.5em 0;
}
figure, footer img{
    height: 100%;
}
figure{
    display: flex;
    align-items: center;
}
footer img{
    border-radius: 100%;
    border: 0.1em solid white;
    margin-right: 1em;
}
footer figcaption strong{
    color: var(--cor_destaque);
}

.ativo:hover{
    color: var(--cor_destaque_2);
    cursor: pointer;
}
.imagem:hover > #view{
    display: inline;
}
.imagem:hover > #cubo{
    opacity: 50%;
}
.imagem:hover{
    background-color: var(--cor_destaque_2);
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .card{
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 2em;
    }
    main{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .imagem{
        width: 100%;
        height: 100%;
    }
    #cubo{
        height: 100%;
    }
    main > h1{
        font-size: 2em;
    }
    main > p{
        font-size: 1.2em;
    }
}