@charset "UTF-8";

:root{
    --cor_texto: hsl(215, 32%, 27%);
    --cor_texto_destaque: hsl(0, 0%, 100%);
    --fundo_body: hsl(217, 54%, 11%);
    --fundo_card: hsl(216, 50%, 16%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo_body);
}
.card{
    width: 21em;
    height: 35em;
    padding: 1em;
    box-sizing: content-box;
    background-color: var(--fundo_card);
    container-type: size;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 30% 10%;
    color: var(--cor_texto);
}
main{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card > header > img{
    height: 100%;
}
footer{
    container-type: size;
}
footer figure{
    display: flex;
    justify-content: flex-start;
}
footer figcaption{
    align-self: flex-end;
    
}
footer img{
    height: 100cqh;
}