@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor_fundo_body: hsl(30, 38%, 92%);
    --cor_fundo_main: white;
    --cor_fundo_botao: hsl(158, 36%, 37%);

    --cor_texto: hsl(228, 12%, 48%);
    --cor_titulo: hsl(212, 21%, 14%);
    --cor_preco_atual: hsl(158, 36%, 37%);
    --cor_preco_antigo: hsl(228, 12%, 48%);

    --fonte_texto: "Montserrat";
    --fonte_titulo: "Fraunces";
}
html, body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_fundo_body);
}
main{
    width: 800px;
    height: 600px;
    border-radius: 2em;
    background-color: var(--cor_fundo_main);
    display: flex;
}
section{
    width: 100%;
}
.imagem img{
    height: 100%;
    border-radius: 2em 0 0 2em;
}
.descricao{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    font-size: 3em;
    font-family: var(--fonte_titulo), 'Times New Roman', Times, serif;
    color: var(--cor_titulo);
}
p{
    font-family: var(--fonte_texto), Arial, Helvetica, sans-serif;
    color: var(--cor_texto);
    font-size: 1.2em;
}
p:first-child{
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.8em;
}
div#preco{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
}
#preco_atual{
    font-size: 3em;
    font-weight: bolder;
    color: var(--cor_preco_atual);
    font-family: "Fraunces";
}
#preco_antigo{
    font-weight: bold;
    text-decoration: line-through;
    color: var(--cor_preco_antigo);
}
button{
    width: 100%;
    padding: 1.5em;
    background-color: var(--cor_fundo_botao);
    border-radius: 1em;
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s, box-shadow 1s, transform 1s;
}
button:hover{
    background-color: hsl(158, 42%, 18%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    cursor: pointer;
}

@media screen and (max-width: 739px){
    body{
        align-items: flex-start;
    }
    main{
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    section{
        width: 100%;
        height: 100%;
    }
    .imagem img{
        width: 100%;
        border-radius: 0;
    }
    .descricao{
        row-gap: 2em;
    }
}