@charset "UTF-8";
@font-face {
    font-family: 'HankenGrotesk';
    src: url("assets/fonts/static/HankenGrotesk-Medium.ttf");
}
:root{
    --cor_fundo_body: hsl(221, 100%, 96%);
    --cor_fundo_main: hsl(0, 0%, 100%);
    --fonte_padrao: 'HankenGrotesk';

    --grad_fundo_result_um: hsl(252, 100%, 67%);
    --grad_fundo_result_dois: hsl(241, 81%, 54%);

    --grad_fundo_result_div_um: hsla(256, 72%, 46%, 1);
    --grad_fundo_result_div_dois: hsla(241, 72%, 46%, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HankenGrotesk', Arial, Helvetica, sans-serif;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_fundo_body);
}
main{
    width: 50%;
    min-width: 400px;
    height: 70%;
    min-height: 500px;
    display: flex;
    background-color: var(--cor_fundo_main);
    box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
    border-radius: 2em;
}
main > section{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    padding: 1em;
}
.result{
    background: linear-gradient(var(--grad_fundo_result_um), var(--grad_fundo_result_dois));
    container-type: size;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result h1{
    height: 15cqh;
    font-size: 1.5em;
}
.result div{
    height: 50cqh;
    width: 50cqh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    background: linear-gradient(var(--grad_fundo_result_div_um), var(--grad_fundo_result_div_dois));
}
.result div #porcentagem{
    font-weight: bold;
    font-size: 6em;
}
.result > p{
    padding: 1em 4em;
}
.result > p #status{
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em 0;
}

.detail ul{
    list-style-type: none;
}
.detail ul li > p{
    display: inline-block;
}