@charset "UTF-8";

@font-face {
    font-family: 'HankenGrotesk';
    src: url("assets/fonts/static/HankenGrotesk-Medium.ttf");
}

:root{
    /* Fundo do section resultado */
    --gradiente_resultado_um: hsl(241, 81%, 54%);
    --gradiente_resultado_dois: hsl(252, 100%, 67%);

    --gradiente_score_um: hsla(241, 72%, 46%, 0);
    --gradiente_score_dois: hsla(256, 72%, 46%, 1);

    --fundo_detalhes: white;
    --fundo_main: white;
    --fundo_body: hsl(221, 100%, 96%);

    --cor_texto_resultado: hsl(241, 100%, 89%);
    --cor_pontuacao_resultado: white;

    --cor_botao: hsl(224, 30%, 27%);

    --cor_reaction_fundo: hsla(0, 100%, 67%, 0.1);
    --cor_reaction_texto: hsla(0, 100%, 67%, 1);
    --cor_memory_fundo: hsla(39, 100%, 56%, 0.1);
    --cor_memory_texto: hsla(39, 100%, 56%, 1);
    --cor_verbal_fundo: hsla(166, 100%, 37%, 0.1);
    --cor_verbal_texto: hsla(166, 100%, 37%, 1);
    --cor_visual_fundo: hsla(234, 85%, 45%, 0.1);
    --cor_visual_texto: hsla(234, 85%, 45%, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HankenGrotesk', Arial, Helvetica, sans-serif;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo_body);
}
main{
    display: flex;
    flex-direction: row;
    height: 80svh;
    width: 70svw;
    background-color: white;
    border-radius: 2em;
}
section{
    width: 100%; /* As dimensoes sao ajustadas para que ocupem todo o elemento pai*/
    border-radius: 2em;
    padding: 1em 2em;

}
.resultado{
    background: linear-gradient(to top, var(--gradiente_resultado_um), var(--gradiente_resultado_dois) 80%);
    position: relative;
    text-align: center;
    color: var(--cor_texto_resultado);
}
.resultado h1{
    padding: 1em 0;
    font-size: 1.5em;

}
.resultado .score{
    border-radius: 100%;
    background: linear-gradient(to top, var(--gradiente_score_um), var(--gradiente_score_dois));
    height: 12em;
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.resultado .score #pontuacao span{
    font-size: 4em;
    font-weight: bold;
    color: var(--cor_pontuacao_resultado)
}
.resultado .descricao_score{
    padding: 2em 3.5em;
}
.resultado .descricao_score p{
    font-size: 1em;
}
.resultado .descricao_score #status{
    font-size: 2em;
    padding-bottom: 0.5em;
    color: var(--cor_pontuacao_resultado);
}

/* Parte do Section Detalhes */

.detalhes{
    background-color: var(--fundo_detalhes);
    color: hsl(224, 30%, 27%);
}
.detalhes h2{
    padding: 1em 0;
}
.detalhes button{
    border-radius: 2em;
    background-color: var(--cor_botao);
    border: none;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    color: white;
}
.detalhes button:hover{
    cursor: pointer;
    background: linear-gradient(to top, var(--gradiente_resultado_um), var(--gradiente_resultado_dois) 80%);
}

.detalhes ul{
    list-style: none;
    height: 15em;
    margin-bottom: 2em;
}
.detalhes ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}
.detalhes ul li .nome{
    width: 70%;
    font-weight: bold;
}
.detalhes ul li .valor{
    font-weight: bold;
}
.detalhes ul li .valor .por_cem{
    color: var(--cor_texto_resultado)
}
#reaction{
    background-color: var(--cor_reaction_fundo);
}
#reaction .nome{
    color: var(--cor_reaction_texto);
}
#memory{
    background-color: var(--cor_memory_fundo);
}
#memory .nome{
    color: var(--cor_memory_texto);
}
#verbal{
    background-color: var(--cor_verbal_fundo);
}
#verbal .nome{
    color: var(--cor_verbal_texto);
}
#visual{
    background-color: var(--cor_visual_fundo);
}
#visual .nome{
    color: var(--cor_visual_texto);
}

@media screen and (max-width: 700px){
    body{
        align-items: flex-start;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .resultado{
        border-radius: 0 0 2em 2em;
    }
    .detalhes{
        padding: 5em;
    }
}