@charset "UTF-8";
@font-face {
    font-family: 'HankenGrotesk';
    src: url("assets/fonts/static/HankenGrotesk-Medium.ttf");
}
:root{
    --fundo_body: hsl(221, 100%, 96%);
    --fundo_main: white;
    --fundo_resumo: white;
    --gradiente_fundo_resultado_um: hsl(252, 100%, 67%);
    --gradiente_fundo_resultado_dois: hsl(241, 81%, 54%);

    --gradiente_div_resultado_um: hsla(256, 72%, 46%, 1);
    --gradiente_div_resultado_dois: hsla(241, 72%, 46%, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HankenGrotesk', Arial, Helvetica, sans-serif;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo_body);
}
main{
    width: clamp(440px, 80%, 800px);
    height: clamp(330px, 60%, 600px);
    background-color: var(--fundo_main);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}
section{
    width: 100%;
    height: 100%;
    container-type: size;
    border-radius: 2em;
    padding: 1em 2em;
}
.resultado{
    background: linear-gradient(var(--gradiente_fundo_resultado_um), var(--gradiente_fundo_resultado_dois));
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
.resultado >h1{
    padding: 0 0 1em;
}
.resultado >div#resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 50cqh;
    width: 50cqh;
    border-radius: 100%;
    background: linear-gradient(var(--gradiente_div_resultado_um), var(--gradiente_div_resultado_dois));
}
#porcentagem{
    font-size: clamp(1em, calc(10svh*100svw), 5em);
    font-weight: bold;
}
.resultado >p{
    padding: 2em 1em;
    font-size: clamp(10px, calc(1svh*1svw), 1em);
}
.resumo{
    background-color: var(--fundo_resumo);
}