@charset "UTF-8";

@font-face {
    font-family: "inter regular";
    src: url("assets/fonts/static/Inter-Regular.ttf");
}
*{
    font-family: "inter regular";
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
body{
    background-color: hsl(0, 0%, 8%);
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: hsl(0, 0%, 12%);
    padding: 2em;
    border-radius: 0.3em;
}
/* Cabecalho */
header{
    padding-bottom: 0.5em;
    text-align: center;
    line-height: 2.5em;
}
header > img{
    border-radius: 100%;
    height: 5em;
}
header > p{
    color: hsl(75, 94%, 57%);
}
header > q{
    color: hsl(0, 0%, 100%);
}
/* Navegacao */
nav{
    padding-bottom: 1em;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul > li a{
    background-color: hsl(0, 0%, 20%);
    display: block;
    font-weight: bold;
    border-radius: 0.3em;
    margin: 1em 0;
    padding: 0.8em 0;
    transition: 0.3s;
}
ul > li a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}
/* Rodape */
footer > p{
    text-align: center;
    color: hsl(0, 0%, 20%);
    font-family: 'Times New Roman', Times, serif;
}