@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100svw;
    height: 100svh;
    font-family: "League Spartan";
}
body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main{
    height: max-content;
    width: 100%;
    padding: 1em;
    background-color: lightsteelblue;
}
#texto{
    padding: 0 1em;
    text-align: center;
}
#texto h1{
    margin-bottom: 1em;
}