@charset "UTF-8";

:root{
    --cor_fundo_body: hsl(212, 45%, 89%);
    --cor_fundo_main: hsl(0, 0%, 100%);

    --fonte_texto: Arial, Helvetica, sans-serif;
    --cor_titulo: hsl(218, 44%, 22%);
    --cor_texto: hsl(216, 15%, 48%);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--fonte_texto);
}
body{
    height: 100svh;
    width: 100svw;
    background-color: var(--cor_fundo_body);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: var(--cor_fundo_main);
    border-radius: 1em;
    padding: 1em;
    width: 24em;
    height: 36em;
    text-align: center;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
}

.imagem > img{
    width: 100%;
    border-radius: 1em;
}
.texto{
    padding: 1em 2em;
}
.texto h1{
    font-size: 1.4em;
    font-weight: bold;
    color: var(--cor_titulo);
    margin-bottom: 1em;
}
.texto p{
    color: var(--cor_texto);
    padding: 0 1em;
    line-height: 1.5em;
}