@charset "UTF-8";
@font-face {
    font-family: 'HankenGrotesk';
    src: url("assets/fonts/static/HankenGrotesk-Medium.ttf");
}
:root{
    --cor_body: hsl(221, 100%, 96%);
    --cor_main: white;

    --gradiente_fundo_resultado_um: hsl(252, 100%, 67%);
    --gradiente_fundo_resultado_dois: hsl(241, 81%, 54%);
    --gradiente_div_resultado_um: hsla(256, 72%, 46%, 1);
    --gradiente_div_resultado_dois: hsla(241, 72%, 46%, 0);

    --cor_texto_resultado: hsl(241, 100%, 89%);
    --cor_porcentagem_resultado: white;

    --cor_texto_resumo: hsl(224, 30%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_body);
    font-family: 'HankenGrotesk', Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    background-color: var(--cor_main);
    border-radius: 2em;
}
section{
    width: 20em;
    height: 30em;
    padding: 1em;
    border-radius: 2em;
    container-type: size;
}
.resultado{
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50% 30%;
    align-items: center;
    justify-items: center;
    background: linear-gradient(var(--gradiente_fundo_resultado_um), var(--gradiente_fundo_resultado_dois));
    color: var(--cor_texto_resultado);
}
.resultado > h1{
    grid-row: 1;
    font-size: 1.5em;
}
.resultado > div{
    grid-row: 2;
    width: 40cqh;
    height: 40cqh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    background: linear-gradient(var(--gradiente_div_resultado_um), var(--gradiente_div_resultado_dois));
}
.resultado > div > span{
    font-size: 4em;
    font-weight: bold;
    color: var(--cor_porcentagem_resultado);
}
.resultado > p{
    grid-row: 3;
    padding: 1em 2em;
}
.resultado > p > span{
    font-size: 1.5em;
    color: var(--cor_porcentagem_resultado);
}
.resumo{
    color: var(--cor_texto_resumo);
}
.resumo > h2{
    margin: 1em 0;
}
.resumo > ul{
    list-style-type: none;
}
.resumo > ul > li{
    padding: 1em;
    margin: 1.5em 0;
    border-radius: 1em;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 10% 60% 30%;
}
#reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
}
#reaction > strong{
    color: hsl(0, 100%, 67%);
}
#memory{
    background-color: hsla(39, 100%, 56%, 0.1);
}
#memory > strong{
    color: hsl(39, 100%, 56%);
}
#verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
}
#verbal > strong{
    color: hsl(166, 100%, 37%);
}
#visual{
    background-color: hsla(234, 85%, 45%, 0.1);
}
#visual > strong{
    color: hsl(234, 85%, 45%);
}
.resumo > button{
    border: none;
    background-color: hsl(224, 30%, 27%);
    padding: 1em 2em;
    border-radius: 2em;
    color: white;
    font-weight: bold;
    width: 100%;
}
.resumo > button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    main{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    section{
        width: 100%;
        height: 100%;
    }
}