@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body, html{
    width: 100svw;
    height: 100svh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    color: hsl(229, 23%, 23%);
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
}
main{
    width: 25em;
    height: 25em;
    background-color: white;
    border-radius: 1em;
    overflow: hidden;
    z-index: 1;
}
.perfil{
    height: 75%;
}
#img-fundo{
    width: 100%;
}
#img-perfil{
    display: block;
    border-radius: 50%;
    border: .5em solid white;
    transform: translateY(-50%);
    margin: auto;
}
#textos{
    width: fit-content;
    display: block;
    margin: auto;
    text-align: center;
    transform: translateY(-100%);
}
#nome{
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
}
#idade{
    display: inline-block;
    font-size: 1.3em;
    color: hsl(227, 10%, 46%);
}
#endereco{
    color: hsl(227, 10%, 46%);
}
.numeros{
    height: 25%;
    border-top: 0.01em solid hsla(227, 10%, 46%, 0.2);
    padding: 1.5em;
}
.numeros dl{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    column-gap: 1.5em;
}
.numeros .numero{
    font-weight: bold;
    font-size: 1.3em;
    grid-row: 1;
}
.numeros .texto{
    font-weight: normal;
    font-size: 0.8em;
    color: hsl(227, 10%, 46%);
    grid-row: 2;
}

/* Arrumando a posicao das bolas que ficam no fundo */
.bg{
    width: clamp(500px, 85%, 2000px);
    position: absolute;
}
#bg-top{
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}
#bg-bottom{
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
}
