@charset "UTF-8";

@font-face {
    font-family: "figtree medium";
    src: url("assets/fonts/static/Figtree-Medium.ttf");
}
*{
    font-family: "figtree medium", Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 7%);
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(47, 88%, 63%);
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0.5em 0.5em 0em black;
    width: 20em;
    padding: 1.5em;
    border-radius: 0.5em;
}

header{
    line-height: 2em;
    margin-bottom: 1em;
}
header > img{
    width: 20em;
    border-radius: 0.5em;
}
header > p #status{
    background-color: hsl(47, 88%, 63%);
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.3em;
}

section{
    margin: 1em 0 1.5em;
}
section > h1{
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0.5em 0;
    transition: 0.3s;
}
section > h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
section > p{
    color: hsl(0, 0%, 42%);
}

footer > img{
    width: 2em;
}
footer > p{
    display: inline-block;
}