@charset "UTF-8";

:root{
    --cor_body: hsl(30, 38%, 92%);
    --cor_main: hsl(0, 0%, 100%);
    --cor_texto: hsl(228, 12%, 48%);
    --cor_titulo: hsl(212, 21%, 14%);
    --cor_preco_atual: hsl(158, 36%, 37%);
    --cor_botao: hsl(158, 36%, 37%);
    --cor_ativado: hsl(158, 42%, 18%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_body);
    color: var(--cor_texto);
}
main{
    width: 40em;
    height: 32em;
    display: flex;
    border-radius: 1em;
    background-color: var(--cor_main);
}
.imagem picture{
    height: 100%;
}
.imagem img{
    height: 100%;
    border-radius: 1em 0 0 1em;
}
.imagem source{
    height: 100%;
}
.conteudo{
    width: 100%;
    padding: 2em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 40% 35% 10% 10%;
    align-items: center;
}
.conteudo > span{
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.conteudo h1{
    color: var(--cor_titulo);
    font-size: 2.5em;
}
.conteudo p{
    line-height: 1.5em;
    font-size: 1.1em;
    align-self: flex-start;
}
#preco{
    display: flex;
    gap: 1em;
    align-items: center;
    align-self: flex-start;
}
#preco_atual{
    font-size: 2em;
    font-weight: bolder;
    color: var(--cor_preco_atual);
}
#preco_antigo{
    text-decoration: line-through;
}
.conteudo button{
    height: 80%;
    border: none;
    border-radius: 1em;
    background-color: var(--cor_botao);
    color: white;
    font-weight: bold;
}
.conteudo button img{
    margin-right: 1em;
}
.conteudo button:hover{
    background-color: var(--cor_ativado);
    cursor: pointer;
}
@media screen and (max-width: 600px){
    body{
        width: 100svw;
        height: 100svh;
        align-items: flex-start;
    }
    main{
        flex-direction: column;
        width: 100%;
        height: 120%;
    }
    .imagem img{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .conteudo{
        padding: 1em 3em 2em;
        height: 100%;
        grid-template-rows: 5% 40% 25% 15% 15%;
    }
}